body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */

h1.header-title {
    text-align: center;
    font-weight: normal;
    font-size: 50px;
}

a {
    text-align: center;
    color: aquamarine;
}

/* Main */
.center {
    margin: 0 auto;
    align-content: center;
}

.section-title {
    text-align: center;
    font-weight: 300;
    font-size: 42px;
}

.subs {
    font-size: 21px;
    color: gray;
    text-align: center;
}

.image, .video {
    text-align: center;
}

/* Footer */
.credit {
    color: gray;
    text-align: right;
}